.ProductInPayment {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ProductInPayment__info {
    padding-left: 20px
}

.ProductInPayment__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    height: 40px;
    font-weight: 500;
}
.ProductInPayment__info > button:hover{
    border: 1px solid #FFA500;
}
.ProductInPayment__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.ProductInPayment__rating {
    display: flex;
  }

.ProductInPayment__title {
    font-size: 17px;
    font-weight: 800;
}