.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 500px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.product:hover{
  border: 1px solid #FFA500;
}

.product__rating {
  display: flex;
}

.product > img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  height: 100%;
  max-height: 250px;
  transition: transform .2s;
}
.product >img:hover{
  transform: scale(1.2);
  
}


.product > button {
  margin-top: 10px;
  background-color: #f0c14b;
  color: #111;
  border-radius: 3px;
  width: 130px;
  font-weight: 500;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: ease-out 0.3s;
  outline: none;
  border: none;
  font-size: 18px;
  box-shadow: inset 0 0 0 0 #ff4655;
}
.product > button:hover{
  box-shadow: inset 130px 0 0 0 #ff4655;
  color: white;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 75px;
  margin-bottom: 15px;
}
.product__info p{
  color:#0F1111;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}
.product__info .product__price small{
  top: -.5em;
  font-size: 12px;
  position: relative;
  color: #0F1111;
  line-height: normal;
}
.product__info .product__price strong{
  font-size: 17px;
  line-height: normal;
}
.SeeDetail{
  font-weight: lighter;
  color: #007185;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.SeeDetail:hover{
  color: red;
  text-decoration: underline;

}
